<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Cafe Deadend</mat-card-title>
    <mat-card-subtitle>Coffee & Tea Shop</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Searching for great breakfast eateries and coffee? This place is for you. We open at 6:30 every morning, and close at 9 PM. We offer espresso and espresso based drink, such as capuccino, cafe latte, piccolo and many more. Come over and enjoy a great meal.
    </p>
    <p>
      G/F, 72 Po Hing Fong, Sheung Wan, Hong Kong
    </p>
    <p>
      232-923423
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><mat-icon>favorite</mat-icon></button>
    <button mat-button><mat-icon>ios_share</mat-icon></button>
  </mat-card-actions>
</mat-card>

<!-- Restaurant(name: "Cafe Deadend", type: "Coffee & Tea Shop", location: "G/F, 72 Po Hing Fong, Sheung Wan, Hong Kong", phone: "232-923423", description: "Searching for great breakfast eateries and coffee? This place is for you. We open at 6:30 every morning, and close at 9 PM. We offer espresso and espresso based drink, such as capuccino, cafe latte, piccolo and many more. Come over and enjoy a great meal.", image: "cafedeadend", isFavorite: false), -->



<p>home works!</p>

<p>{{data | json}}</p>

